{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png'%}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css '%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css '%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css '%}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css '%}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css '%}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css '%}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css '%}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css '%}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css '%}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css '%}">

    <link rel="stylesheet" href="{% static 'css/style.css '%}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <script type="text/javascript">
        setTimeout(function() {
            document.getElementById('timealert').style.display = 'none';
        }, 5000);
    </script>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">

                                            {% if user.is_authenticated %}
                                            <li><a href="#">القائمه <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'product:getColor' %}">الالوان</a></li>
                                                    <li><a href="{% url 'product:getCategory' %}">الانواع</a></li>
                                                    <li><a href="{% url 'product:getCreator' %}">المصانع</a></li>
                                                    <li><a href="{% url 'product:getType' %}">الاصناف</a></li>
                                                </ul>
                                            </li>
                                            {% endif %} {% if user.is_authenticated %}
                                            <li><a href="#">الموظفيين <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'employe:getEmploye' %}">عرض الموظفيين</a></li>
                                                    <li><a href="{% url 'employe:getAbsense' %}">المسجل حضورهم</a></li>
                                                    <li><a href="{% url 'employe:getDayAbsense' %}"> المسجل حضورهم اليوم</a></li>

                                                </ul>

                                            </li>

                                            <li><a href="#">المبيعات <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'product:Orders' %}">عرض المبيعات</a></li>
                                                    <li><a href="{% url 'product:DayOrders' %}">عرض مبيعات اليوم</a></li>

                                                </ul>

                                            </li>

                                            <li><a href="#">المنتجات <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'product:getProduct' %}">عرض المنتجات</a></li>

                                                </ul>

                                            </li>
                                            {% endif %}
                                            <li><a href="/">الرئيسيه</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">

                                    {% if user.is_authenticated %}
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="#">profile</a>
                                    </div>
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="/accounts/logout">Logout</a>
                                    </div>
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="/product/ordersummery">Cart <i class="fas fa-cart-plus" style="color: aliceblue;"></i></a>
                                    </div>
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="/admin">Admin Login</a>
                                    </div>
                                    {% else %}
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="#" g in</a>
                                    </div>
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="/accounts/signup">Register</a>
                                    </div>

                                    <div class="phone_num d-none d-xl-block">
                                        <a href="/accounts/login">Login</a>
                                    </div>

                                    {% endif %}




                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    {% block body %} {% endblock body %}


    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js '%}"></script>
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js '%}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js '%}"></script>
    <script src="{% static 'js/popper.min.js '%}"></script>
    <script src="{% static 'js/bootstrap.min.js '%}"></script>
    <script src="{% static 'js/owl.carousel.min.js '%}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js '%}"></script>
    <script src="{% static 'js/ajax-form.js '%}"></script>
    <script src="{% static 'js/waypoints.min.js '%}"></script>
    <script src="{% static 'js/jquery.counterup.min.js '%}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js '%}"></script>
    <script src="{% static 'js/scrollIt.js '%}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js '%}"></script>
    <script src="{% static 'js/wow.min.js '%}"></script>
    <script src="{% static 'js/nice-select.min.js '%}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js '%}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js '%}"></script>
    <script src="{% static 'js/plugins.js '%}"></script>
    <!-- <script src="{% static 'js/gijgo.min.js '%}"></script> -->
    <script src="{% static 'js/range.js '%}"></script>



    <!--contact js-->
    <script src="{% static 'js/contact.js '%}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js '%}"></script>
    <script src="{% static 'js/jquery.form.js '%}"></script>
    <script src="{% static 'js/jquery.validate.min.js '%}"></script>
    <script src="{% static 'js/mail-script.js '%}"></script>


    <script src="{% static 'js/main.js '%}"></script>


    <script>
        $(function() {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 24600,
                values: [750, 24600],
                slide: function(event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1] + "/ Year");
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1) + "/ Year");
        });
    </script>
</body>

</html>